@font-face {
  font-family: Muli;
  src: url("../fonts/Muli.ttf");
}

@font-face {
  font-family: Muli-light;
  src: url("../fonts/Mulish-Light.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: LatoBold;
  src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: LatoBlack;
  src: url("../fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: Itim;
  src: url("../fonts/Itim/Itim-cRegular.ttf");
}

/* ::-webkit-scrollbar {
  display: none
} */

:root {
  --primaryCol: #964E7F;
  --orange: #F7931e;
  --lightBlue: #25B0E9;
  --shadowedBlue: rgba(28, 123, 175, 0.78);
  --fade-gray: #657482;
}


body {
  background: #1E1E1E;
  color: #fff;
  font-family: Lato !important;
  width: 100vw !important;
  margin: 0 !important;
  overflow-x: hidden !important;
}

.heading {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
  color: #fff;
}

.someinfo {
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
}

.text-small {
  font-size: 14px;
}

.buttons {
  background: var(--primaryCol);
  color: #fff;
  border-radius: 10px;
  padding: 10px 35px;
  line-height: 31px;
  letter-spacing: 0.035em;
}

/* hamburger  */

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primaryCol);
}

.sideMenu {
  position: fixed;
  left: -100%;
  transition: 0.3s;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.sideMenu a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.sideMenu a:hover {
  color: #25B0E9;
  margin-left: 10px;
}

.buttons:hover {
  color: #fff;
}

section.section {
  padding: 100px 50px;
  background: #212121;
  margin-bottom: 20px;
}

header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* BANNER 
*/

.homeBanner {
  background: url('../img/bg/homeBanner.png');
  height: 100vh;
  color: #fff;
}

.headers {
  padding-top: 30px;
}

.headers img {
  width: 200px;
  height: 85px;
}

.bannerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -80px;
}

.startedFormCont {
  background: #fff;
  display: flex;
  align-items: center;
  height: 53px;
  width: 65%;
  margin-top: 20px;
}

.startedFormCont input {
  padding: 10px;
  border: none;
  outline: none;
  flex: 1;
  height: 100%;
}

.startedFormCont .buttons {
  border-radius: 0;
}

.section_4 .accordion-item {
  margin-bottom: 20px;
}

.section_4 .accordion-body {
  background: #465865;
}

.section_4 .accordion-button {
  background: #465865;
  color: #fff;
  font-family: LatoBlack;
}

.section_4 .accordion-button::after {
  background-image: url('../img/icons/chevron.png');
  margin-top: 10px;
}

/* HEADER 

*/

.navItems a {
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}

.rightNavItems button {
  color: #fff;
}

.rightNavItems button:hover {
  color: var(--primaryCol);
}

/* movieBanner 
 */
.movieBanner {
  background: url('../img/bg/movieBanner.png');
  background-size: cover;
  height: 70vh;
  position: relative;
  padding: 25px;
}

.movieBanner .movieInfo {
  position: absolute;
  top: 20%;
}

.movieBanner .movieInfo .movDesc {
  width: 35%;
}

/* MYLIST 
 */
.myList {
  margin-top: -70px;
  z-index: 1;
  position: relative;
}

.moviesCont {
  height: 200px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.movie {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.moviesCont img {
  height: 100%;
  object-fit: cover;
  width: -webkit-fill-available;
}

.moviesPoster .movie:hover {
  transform: scale(1.25);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.moviesInfo {
  padding: 10px;
  background: #1E1E1E;
}

.moviesInfo .btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 10px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviesInfo .btn.playBtn i {
  margin-left: 2px;
}

.moviesInfo .btn.menuBtn {
  padding: 5px 10px;
}


.moviesInfo .btn i {
  text-align: center;
  font-size: 14px;
}

.moviesInfo .timeInfo p {
  margin-right: 10px;
}

.moviesInfo.hidden {
  display: none;
}

/* MODAL */

.modal-body {
  background: #1E1E1E;
  padding: 0;
  height: 100vh;
}

.modal-body .videoCont {
  height: 500px;
}

.someControls {
  margin-top: -120px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.iconnie {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 10px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconnie:hover {
  color: #fff;
}

.movieDesc {
  padding: 20px;
}

.movieDesc .tags {
  margin-right: 15px;
}

.moviedescription {
  font-size: 14px;
  color: #c6cad5;
  width: 70%;
}

.movieDesc .castDra p {
  color: #c6cad5;
  font-size: 14px;
}

.movieDesc .castDra p span {
  color: #fff;
  font-size: 16px;
}

.moreLike .movie {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.moreLike .moviedescription {
  width: 100%;
  margin-top: 20px;
}

#trailerVid {
  object-fit: cover;
}

.trailerVidWrapper {
  background: linear-gradient(0deg, #181818, transparent 50%);
  height: 500px;
  position: absolute;
  top: 0;
  width: 100%;
}

.iconnie.hidden {
  display: none;
}

/* account page */

.homeB {
  background-color: white;
  /* height: 100vh; */
  padding: 30px;
  color: #fff;
}

#baner4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin-top: -150px; */
  display: none;
}

.mail {
  padding: 10px;
  border: 1px solid#465865;
  ;
  outline: none;
  width: 100%;
  color: #465865;
}

.bb {
  border-radius: 6px;
  width: 34%;

}

.hed {
  color: #465865;
  width: 500px;
}

.text-mail {
  width: 500px;
  color: #465865;
  font-weight: 500;
}

#baner {
  margin-top: 0;
}

#baner2 {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 70px;
  display: none;
}

.tablee {
  width: 70%;
  margin-top: 2em;
}

.tablee .col {
  font-size: 30px;
}

.tablee td {
  font-size: 24px;
  color: #465865;
  padding: 20px;
}

.kk {
  font-weight: 700;
}

.hedd {
  color: #465865;
}

.topi {
  margin-top: 2em;
  margin-bottom: -45px;
  margin-right: -250px;
}

.bbcard {
  background-color: white;
  border-radius: 6px;
  padding: 10px 35px;
  line-height: 31px;
  letter-spacing: 0.035em;
  border: 1px solid #465865;
  width: 31%;
  display: flex;
  height: 60px;
  align-items: center;

}

#baner3 {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0x;
  display: none;
}

.heding {
  font-weight: 700;
  color: #465865;
}

/* PLAY */

.player video {
  height: 80vh;
  object-fit: cover;
}